body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculadora {
  width: 200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  width: 100%;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
}

.botao {
  width: 45px;
  height: 45px;
  margin: 2.5px;
  font-size: 20px;
}

.limpar, .igual, .zero {
  width: 95px;
}

.operador {
  background-color: #f0ad4e;
  color: white;
}

.botao:active {
  transform: scale(0.95);
}
